<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

    <%- include('../../_components/header-navigation', { title: endpoints.pages.chatBrowse.title }); %>

        <div class="l-chat-browse"></div>

        <div class="no-results" hidden>
            <svg class="no-results--icon" viewBox="0 0 36 33" xmlns="//www.w3.org/2000/svg">
                <linearGradient x1="0" y1="0" x2="0" y2="100%" id="gradient">
                    <stop stop-color="#7FEBB6" offset="0"/>
                    <stop stop-color="#60ADFF" offset="100%"/>
                </linearGradient>
                <path fill="url(#gradient)" d="M7.94503 26.1084L8.27636 25.327L7.55933 24.8731C3.5275 22.3203 1 18.784 1 14.5714C1 7.261 8.40122 1 18 1C27.5988 1 35 7.261 35 14.5714C35 21.8818 27.5988 28.1429 18 28.1429C16.6251 28.1429 14.5831 28.0171 13.3554 27.7864L13.0066 27.7209L12.6945 27.8899L5.54829 31.7601L7.94503 26.1084Z"></path>
            </svg>
            <h2>Your messages will appear here</h2>
        </div>

    <%- include('../../_components/footer-navigation'); %>

<%- include('../../_partials/footer'); %>