<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

    <%- include('../../_components/header-navigation', { title: endpoints.chatBrowse.title }); %>

        <div class="l-chat-browse">
            <div class="l-chat-browse--user-item">
                <div class="l-chat-browse--user-item--img-area">
                    <img class="l-chat-browse--user-item--img-area--img"
                        src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                </div>
                <div class="l-chat-browse--user-item--main">
                    <div class="l-chat-browse--user-item--main--top">
                        <h2 class="l-chat-browse--user-item--main--top--name">John</h2>
                        <p class="l-chat-browse--user-item--main--top--time">6:37pm</p>
                    </div>
                    <div class="l-chat-browse--user-item--main--btm">
                        <p class="l-chat-browse--user-item--main--btm--preview">
                            My friend Reid is actually from there! I’ve always wanted to go, love the...
                        </p>
                    </div>
                </div>
            </div>

            <div class="l-chat-browse--user-item">
                <div class="l-chat-browse--user-item--img-area">
                    <img class="l-chat-browse--user-item--img-area--img"
                        src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                </div>
                <div class="l-chat-browse--user-item--main">
                    <div class="l-chat-browse--user-item--main--top">
                        <h2 class="l-chat-browse--user-item--main--top--name">John</h2>
                        <p class="l-chat-browse--user-item--main--top--time">6:37pm</p>
                    </div>
                    <div class="l-chat-browse--user-item--main--btm">
                        <p class="l-chat-browse--user-item--main--btm--preview">
                            My friend Reid is actually from there! I’ve always wanted to go, love the...
                        </p>
                    </div>
                </div>
            </div>

            <div class="l-chat-browse--user-item">
                <div class="l-chat-browse--user-item--img-area">
                    <img class="l-chat-browse--user-item--img-area--img"
                        src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                </div>
                <div class="l-chat-browse--user-item--main">
                    <div class="l-chat-browse--user-item--main--top">
                        <h2 class="l-chat-browse--user-item--main--top--name">John</h2>
                        <p class="l-chat-browse--user-item--main--top--time">6:37pm</p>
                    </div>
                    <div class="l-chat-browse--user-item--main--btm">
                        <p class="l-chat-browse--user-item--main--btm--preview">
                            My friend Reid is actually from there! I’ve always wanted to go, love the...
                        </p>
                    </div>
                </div>
            </div>

            <%- include('../../_components/footer-navigation'); %>

                <%- include('../../_partials/footer'); %>