<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

    <%- include('../../_components/header-navigation', { title: endpoints.chatView.title }); %>

        <div class="l-chat-view">
            <div class="l-chat-view--content">
                <div class="l-chat-view--content--message message-from-them">Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit. Architecto, tenetur.</div>
                <div class="l-chat-view--content--message message-from-me">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Voluptate rerum architecto, veritatis quidem tempora soluta dolor delectus natus
                    qui harum.</div>
                <div class="l-chat-view--content--message message-from-them">Lorem ipsum dolor sit amet.</div>
            </div>
            <form class="o-form l-chat-view--input-bar" id="messageForm" type="strings">
                <input type="text" name="" placeholder="Send a message">
                <button type="submit">Send</button>
            </form>
        </div>

        <%- include('../../_components/footer-navigation'); %>

            <%- include('../../_partials/footer'); %>