<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

    <%- include('../../_components/header-navigation', { title: endpoints.chatView.title }); %>

        <div class="l-chat-view">
            <div class="l-chat-view--content"></div>
            <form class="o-form l-chat-view--input-bar" id="messageForm" type="strings">
                <input type="text" name="message" placeholder="Send a message" autocomplete="off">
                <button type="submit">Send</button>
            </form>
        </div>

        <%- include('../../_components/footer-navigation'); %>

            <%- include('../../_partials/footer'); %>