<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

    <%- include('../../_components/header-navigation', { title: endpoints.pages.chatView.title }); %>

    <div class="js-WebSocket l-chat-view">
        <div class="l-chat-view--content"></div>
        <form class="o-message-input" id="messageForm" type="strings">
            <textarea name="message" maxlength="1000" placeholder="Send a message"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>

<%- include('../../_partials/footer'); %>