<div class="c-footer-navigation u-flex-center">

    <a class="c-footer-navigation__link" href="<%- endpoints.browse.url %>">
        <svg class="c-footer-navigation__link--home" width="33" height="33" viewbox="0 0 33 33" fill="none"
            xmlns="//www.w3.org/2000/svg">
            <path
                d="M1.00001 31.8487L1.00003 12.6625L1 12.6573C0.99979 12.6166 1.0266 12.5619 1.05892 12.5367C1.05924 12.5364 1.05956 12.5362 1.05988 12.536L16.3609 1.06001C16.4112 1.03157 16.447 1.01647 16.4703 1.00855C16.4841 1.00387 16.4932 1.00183 16.4981 1.00092C16.5029 1.00005 16.5051 1.00001 16.5055 1C16.5058 0.999996 16.5068 0.99997 16.5093 1.00034C16.5119 1.00073 16.5181 1.00187 16.5287 1.00523C16.547 1.01107 16.5808 1.02444 16.6318 1.05455L31.9401 12.536C31.9404 12.5362 31.9407 12.5364 31.9411 12.5367C31.9705 12.5597 32 12.6145 32 12.6625V31.8487C32 31.8485 32 31.8486 31.9999 31.849C31.9993 31.8533 31.993 31.8936 31.9433 31.9433C31.8936 31.993 31.8534 31.9993 31.849 31.9999C31.8487 32 31.8486 32 31.8487 32H21.4885C21.4887 32 21.4886 32 21.4882 31.9999C21.4839 31.9993 21.4436 31.993 21.3939 31.9433C21.3442 31.8936 21.338 31.8533 21.3373 31.849C21.3372 31.8486 21.3372 31.8485 21.3372 31.8487V23.7907C21.3372 21.0927 19.198 18.9534 16.5 18.9534C13.802 18.9534 11.6628 21.0927 11.6628 23.7907V31.8487C11.6628 31.8485 11.6628 31.8486 11.6627 31.849C11.6621 31.8533 11.6558 31.8936 11.6061 31.9433C11.5564 31.993 11.5162 31.9993 11.5118 31.9999C11.5115 32 11.5114 32 11.5115 32H1.1513C1.15146 32 1.15135 32 1.15099 31.9999C1.14666 31.9993 1.10638 31.993 1.05672 31.9433C1.00702 31.8936 1.00075 31.8533 1.00009 31.849C1.00003 31.8486 1.00001 31.8485 1.00001 31.8487ZM1.00001 31.8487L1.44807e-05 31.8488H1.00001V31.8487Z"
                stroke="#F8F9FA" stroke-width="2" />
        </svg>
    </a>

    <a class="c-footer-navigation__link" href="#">
        <svg class="c-footer-navigation__link--profile" width="35" height="35" viewbox="0 0 35 35" fill="none"
            xmlns="//www.w3.org/2000/svg">
            <path
                d="M17.5197 17.037C21.7778 17.037 25.3262 13.5 25.3262 8.90741C25.3262 4.46296 21.7581 1 17.5197 1C13.3011 1 9.71326 4.5 9.73297 8.92593C9.73297 13.5 13.2616 17.037 17.5197 17.037ZM4.78495 34H30.2151C32.8961 34 34 33.2778 34 31.6667C34 26.9074 27.672 20.3519 17.5 20.3519C7.32796 20.3519 1 26.9074 1 31.6667C1 33.2778 2.10394 34 4.78495 34Z"
                stroke="#F8F9FA" stroke-width="2" />
        </svg>
    </a>

    <a class="c-footer-navigation__link" href="<%- endpoints.chatBrowse.url %>">
        <svg class="c-footer-navigation__link--chat" width="36" height="33" viewbox="0 0 36 33" fill="none"
            xmlns="//www.w3.org/2000/svg">
            <path
                d="M7.94503 26.1084L8.27636 25.327L7.55933 24.8731C3.5275 22.3203 1 18.784 1 14.5714C1 7.261 8.40122 1 18 1C27.5988 1 35 7.261 35 14.5714C35 21.8818 27.5988 28.1429 18 28.1429C16.6251 28.1429 14.5831 28.0171 13.3554 27.7864L13.0066 27.7209L12.6945 27.8899L5.54829 31.7601L7.94503 26.1084Z"
                stroke="#F8F9FA" stroke-width="2" />
        </svg>
    </a>

</div>