<div class="c-header-navigation">
    <button class="c-header-navigation__button" onclick="history.back(-1)"><i class="fas fa-angle-left"></i></button>
    <h1 class="c-header-navigation__title u-heading-1 u-align-center"><%= title %></h1>
</div>