<div class="c-header-navigation--home">
    <button class="my-profile-button" href="/profile">
        <i class="fas fa-user-circle"></i>
    </button>
    <button hidden class="c-header-navigation__button"><i class="fas fa-angle-left"></i></button>
    <svg class="c-header-navigation--home-logo" width="3039" height="3039" viewBox="0 0 3039 3039" fill="none" xmlns="//www.w3.org/2000/svg">
        <circle cx="1519.19" cy="1519.19" r="1469.19" fill="url(#paint0_radial)" stroke="#F8F9FA" stroke-width="100"/>
        <path d="M1487.09 1781.06C1195.25 1725.72 1010.65 1549.81 1010.65 1549.81C833.42 1371.14 863.78 1121.29 863.78 1121.29C863.78 1121.29 886.95 919.49 1033.65 770.57C1139.74 662.88 1276.05 583 1518.24 583C1830.91 583 2067.43 754.82 2067.43 754.82L1954.89 979.82C1954.89 979.82 1756.71 850.65 1469.26 850.65C1181.81 850.65 1132.49 1128.08 1132.49 1128.08C1132.49 1128.08 1080.15 1414.47 1444.65 1496.45C1757.25 1566.76 1957.31 1676.92 1913.97 1934.94C1873.16 2177.94 1518.29 2184.94 1518.29 2184.94C1518.29 2184.94 1250.56 2195.14 968.83 2000.27L850 2236.64C850 2236.64 1152.55 2454.94 1518.65 2454.94C1884.75 2454.94 2159.81 2199.37 2184.65 1949.13C2209.49 1698.89 2112.1 1558 1973.44 1432.67C1973.44 1432.67 1853.05 1330.09 1698.29 1289.28" stroke="#F8F9FA" stroke-width="100" stroke-miterlimit="10"/>
        <path d="M1485.03 1183.44L1483.48 1192.5L1478.04 1199.91L1660.68 1413.97L1671.18 1426.27L1677.49 1411.39L1722.69 1304.91L1726.59 1295.71L1730.5 1286.5L1775.69 1180.03L1782.01 1165.14L1765.87 1166.14L1485.03 1183.44Z" fill="#F8F9FA" stroke="#F8F9FA" stroke-width="20"/>
        <path d="M1693.82 1883.7L1695.38 1874.64L1700.82 1867.23L1518.15 1653.17L1507.65 1640.87L1501.33 1655.75L1452.23 1771.43L1452.23 1771.43L1452.23 1771.44L1403.13 1887.09L1396.82 1901.97L1412.95 1900.98L1693.82 1883.7Z" fill="#F8F9FA" stroke="#F8F9FA" stroke-width="20"/>
        <defs>
        <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1519.19 1519.19) rotate(90) scale(1572.07)">
        <stop offset="0.151042" stop-color="#4361EE"/>
        <stop offset="0.635417" stop-color="#3A0CA3"/>
        <stop offset="0.8125" stop-color="#7209B7"/>
        <stop offset="0.953125" stop-color="#F72585"/>
        </radialGradient>
        </defs>
    </svg>
    <button>
        <i class="fas fa-cog settings-trigger"></i>
    </button>
</div>