<div class="js-settings c-settings" hidden>
    <div class="c-settings__header">
        <h2 class="c-settings__header__title">Settings</h2>
        <button class="settings-trigger">Cancel</button>
    </div>
    <div class="c-settings__main">
        <section class="c-settings__main__section">
            <h3 class="c-settings__main__section__title">Account</h3>
            <button class="c-settings__button" data-query="delete-user">
                <h3 class="c-settings__button__title">Delete your account</h3>
                <p class="c-settings__button__desc">Your information will be deleted and you will need to login again with Spotify to regain access to the app.</p>
            </button>
            <button class="c-settings__button" data-query="logout">
                <h3 class="c-settings__button__title">Logout</h3>
            </button>
        </section>
    </div>
</div>