<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

    <%- include('../../_components/header-navigation', { 
        title: endpoints.registerActivities.title }); 
    %>

        <form class="o-search-form" id="firestore_form" type="checkOne">
            <!-- ALCOHOL -->
            <section name="alcohol">
                <div class="o-form__heading">
                    <h2 class="u-heading-2 u-align-center">Do you consume alcohol?</h2>
                    <svg width="33" height="46" viewbox="0 0 33 46" fill="none" xmlns="//www.w3.org/2000/svg">
                        <path d="M32.457 27.0798L31.2459 20.0555C31.149 19.5227 30.6646 19.0867 30.1317 19.0867H19.7164C19.135 19.0867 18.6991 19.4742 18.6022 20.0555L17.3911 27.0798C17.052 29.066 17.4395 31.0522 18.5053 32.6993C19.7648 34.637 21.7994 35.7996 24.0763 36.0419V43.7928C24.0763 44.0835 23.8341 44.3741 23.5434 44.3741L20.2492 44.8101C19.9586 44.8586 19.7164 45.1008 19.7164 45.3914C19.7164 45.7305 20.007 45.9727 20.2977 45.9727H29.4535C29.7926 45.9727 30.0348 45.6821 30.0348 45.3914C30.0348 45.1008 29.7926 44.8101 29.5019 44.8101L26.2562 44.4226C25.9656 44.3741 25.7233 44.1319 25.7233 43.8412V36.0903C27.9517 35.8481 29.9864 34.637 31.2459 32.7477C32.4085 31.0522 32.7961 29.066 32.457 27.0798ZM27.3704 25.239C23.8825 24.9483 22.9136 27.6127 19.2319 26.4985L20.2008 20.8306H29.6473L30.6161 26.4016C29.7926 25.8203 28.7268 25.3359 27.3704 25.239Z" fill="#F8F9FA"/>
                        <path d="M9.64023 8.67139V5.81323H4.3599V8.67139C4.3599 10.5607 3.58481 12.4015 2.17995 13.6611C0.775094 14.969 0 16.7614 0 18.6507V44.4711C0 45.2946 0.678208 45.9728 1.50175 45.9728H12.5953C13.4188 45.9728 14.097 45.2946 14.097 44.4711V18.6992C14.097 16.8099 13.3219 14.969 11.9171 13.7095C10.4638 12.4015 9.64023 10.6091 9.64023 8.67139ZM11.3358 38.5125C11.3358 39.0938 10.8998 39.5298 10.3184 39.5298H3.73014C3.14882 39.5298 2.71283 39.0454 2.71283 38.5125V24.7546C2.71283 24.1733 3.19726 23.7373 3.73014 23.7373H10.3184C10.8998 23.7373 11.3358 24.2217 11.3358 24.7546V38.5125Z" fill="#F8F9FA"/>
                        <path d="M9.64007 0.871981C9.64007 0.387547 9.25252 0 8.76809 0H5.18328C4.69884 0 4.31129 0.387547 4.31129 0.871981V3.92391H9.59162V0.871981H9.64007Z" fill="#F8F9FA"/>
                        </svg>
                </div>
                <div class="o-form o-form--checkbox__group">
                    <!-- YES -->
                    <label class="o-form--checkbox">
                        <input class="o-form--checkbox__input" type="checkbox" value="yes">
                        <span class="o-form--checkbox__label">YES</span>
                    </label>
                    <!-- SOMETIMES -->
                    <label class="o-form--checkbox">
                        <input class="o-form--checkbox__input" type="checkbox" value="sometimes">
                        <span class="o-form--checkbox__label">SOMETIMES</span>
                    </label>
                    <!-- NO -->
                    <label class="o-form--checkbox">
                        <input class="o-form--checkbox__input" type="checkbox" value="no">
                        <span class="o-form--checkbox__label">NO</span>
                    </label>
                </div>
                <!-- PREFER NOT TO SAY -->
                <div class="o-form--toggle-group l-grid--mobile">
                    <label class="o-form--toggle__label">PREFER NOT TO SAY</label>
                    <label class="o-form--toggle">
                        <input class="o-form--toggle__input" type="checkbox" value="prefer not to say">
                        <span class="o-form--toggle__slider"></span>
                    </label>
                </div>
            </section>

            <!-- CANNABIS -->
            <section name="cannabis">
                <div class="o-form__heading">
                    <h2 class="u-heading-2 u-align-center">Do you consume cannabis?</h2>
                    <svg width="42" height="42" viewbox="0 0 42 42" fill="none" xmlns="//www.w3.org/2000/svg">
                        <path d="M41.9923 29.055C41.9718 28.9743 41.9124 28.909 41.8353 28.8804L41.4924 28.7521C41.4924 28.7521 41.3844 28.7113 41.1708 28.6528C41.1186 28.6401 41.0592 28.6233 40.9911 28.6047C40.8324 28.5612 40.6378 28.5077 40.4232 28.4641C39.8676 28.344 38.9622 28.1862 37.8028 28.1173C36.7245 28.0501 35.4976 28.0755 34.2651 28.1912C33.0299 28.3077 31.7208 28.5394 30.3723 28.8772C29.6288 29.0672 28.9094 29.2808 28.2213 29.5166C28.3234 29.4146 28.4222 29.3153 28.518 29.2164C29.661 28.0511 30.8 26.7225 31.9041 25.2678C33.0036 23.8072 33.9721 22.3503 34.7827 20.9369C35.5924 19.5194 36.2986 18.0865 36.8257 16.7951C37.4 15.4003 37.7384 14.2767 37.9189 13.5834C37.9969 13.3036 38.0491 13.0542 38.1003 12.8107L38.1457 12.6039C38.196 12.359 38.2146 12.2212 38.2146 12.2203L38.2713 11.7818C38.2818 11.692 38.2446 11.6027 38.1729 11.5478C38.1012 11.493 38.0037 11.4816 37.9212 11.5165L37.5138 11.6898C37.5138 11.6898 37.3854 11.7442 37.1496 11.8675C37.0902 11.9002 37.0221 11.936 36.9377 11.9795C36.7554 12.0752 36.5295 12.1931 36.2873 12.3396C35.6645 12.7046 34.672 13.3349 33.4849 14.2644C32.3799 15.1251 31.1919 16.1934 30.0493 17.3542C28.9108 18.5123 27.77 19.8387 26.6577 21.2979C25.7868 22.4483 24.9984 23.5987 24.304 24.7305C24.3484 24.4298 24.3883 24.1296 24.4255 23.8299C24.67 21.8805 24.7939 19.7811 24.7957 17.5891C24.7884 15.3845 24.661 13.2854 24.4165 11.3519C24.1878 9.50324 23.8327 7.61826 23.3877 5.89969C22.9359 4.1521 22.4524 2.82849 22.1262 2.0268C21.7747 1.14938 21.4971 0.625191 21.4431 0.526339L21.2213 0.121411C21.1324 -0.0404702 20.8666 -0.0404702 20.7772 0.121411L20.5536 0.528606C20.5019 0.624737 20.2238 1.14938 19.8732 2.02408C19.5484 2.8226 19.0658 4.14258 18.6103 5.89924C18.1658 7.62052 17.8102 9.50551 17.582 11.3506C17.3375 13.285 17.2101 15.3845 17.2028 17.5905C17.2042 19.7847 17.3289 21.8837 17.5734 23.8281C17.6101 24.1265 17.6501 24.4271 17.6941 24.73C17.0005 23.5977 16.2108 22.4464 15.3403 21.2956C14.2285 19.8378 13.0873 18.5114 11.9492 17.3533C10.8061 16.1925 9.61809 15.1242 8.51447 14.2644C7.32694 13.334 6.33581 12.7046 5.7171 12.3418C5.47397 12.1944 5.2517 12.0779 5.05801 11.9768C4.97954 11.936 4.90878 11.8993 4.83711 11.8594C4.61439 11.7433 4.48556 11.6889 4.48556 11.6889L4.07868 11.5161C3.99567 11.4807 3.89905 11.4921 3.82693 11.5474C3.75481 11.6022 3.71716 11.6916 3.7285 11.7814L3.78475 12.2203C3.78475 12.2203 3.80334 12.3581 3.85687 12.6175C3.87274 12.6842 3.88953 12.7626 3.90767 12.8524C3.95031 13.0546 4.00293 13.3036 4.07823 13.5747C4.26194 14.2762 4.60123 15.404 5.17277 16.7924C5.70122 18.0865 6.40839 19.5194 7.21762 20.9365C8.02685 22.349 8.99529 23.8059 10.0962 25.2687C11.1989 26.7206 12.337 28.0488 13.4801 29.2141C13.5767 29.3134 13.676 29.4137 13.7776 29.5157C13.0886 29.2794 12.3687 29.065 11.6253 28.8754C10.2785 28.5385 8.96989 28.3068 7.73473 28.1894C6.50183 28.0737 5.2712 28.0488 4.19934 28.1164C3.03721 28.1848 2.13363 28.3426 1.58386 28.4623C1.36159 28.5068 1.16654 28.5603 1.00824 28.6038C0.940196 28.6224 0.88032 28.6392 0.811826 28.656C0.614508 28.7104 0.505643 28.7516 0.505643 28.7516L0.164533 28.8795C0.0874205 28.9076 0.028452 28.9734 0.00803978 29.0532C-0.012826 29.1334 0.0075862 29.2187 0.0615651 29.2817L0.299707 29.5574C0.299707 29.5574 0.375459 29.6449 0.535127 29.7982C0.57323 29.8336 0.616776 29.8753 0.666219 29.9229C0.785517 30.0381 0.932484 30.1795 1.10259 30.3215C1.53215 30.6915 2.25202 31.2628 3.23951 31.8795C4.15216 32.4527 5.239 33.014 6.38253 33.5038C7.51972 33.9889 8.77983 34.4125 10.1288 34.7603C11.4711 35.1003 12.7793 35.3334 14.0176 35.4518C14.0924 35.459 14.1673 35.4658 14.2421 35.4722C14.0153 35.591 13.794 35.7148 13.5785 35.8413C12.7879 36.2974 12.0167 36.8262 11.2855 37.4116C10.6237 37.9403 9.99413 38.5302 9.46523 39.1156C8.91183 39.726 8.53216 40.2538 8.31126 40.5911C8.08173 40.9435 7.9511 41.1888 7.91481 41.2609L7.74062 41.6064C7.70207 41.6826 7.70434 41.7737 7.74788 41.8472C7.79052 41.9207 7.86763 41.9687 7.95291 41.9728L8.33893 41.9941V41.9896C8.41332 42 8.4995 42 8.59295 42C8.72313 42 8.9014 41.9964 9.1214 41.9841C9.5242 41.9592 10.1719 41.8939 10.9721 41.7193C11.7446 41.5511 12.5697 41.2976 13.3571 40.9888C14.2276 40.6469 15.0695 40.2415 15.8588 39.7836C17.4028 38.9016 18.9043 37.7086 19.9775 36.5119C20.3517 36.0975 20.7083 35.6495 20.999 35.2287C21.2272 35.5597 21.5651 36.0091 22.0201 36.5101C23.0928 37.7086 24.5947 38.9011 26.1361 39.7826C26.9272 40.2415 27.77 40.6469 28.64 40.9888C29.4265 41.2981 30.2516 41.5502 31.025 41.7184C31.8261 41.8939 32.4743 41.9592 32.8803 41.9841C33.3692 42.0122 33.6591 41.9946 33.6591 41.9937L34.0447 41.9723C34.1304 41.9678 34.2075 41.9202 34.2501 41.8467C34.2928 41.7733 34.2955 41.6821 34.2574 41.606L34.0873 41.27C34.0705 41.2337 33.9331 40.9689 33.6868 40.5898C33.4654 40.2533 33.0862 39.7255 32.5351 39.1179C32.0034 38.5298 31.3734 37.9398 30.7134 37.4129C29.9854 36.8293 29.2142 36.3015 28.4231 35.8445C28.2068 35.717 27.9836 35.5937 27.7559 35.4735C27.8312 35.4672 27.9065 35.4604 27.9809 35.4531C29.2201 35.3343 30.5288 35.1017 31.8719 34.7607C33.2186 34.4134 34.4783 33.9903 35.6168 33.5042C36.7581 33.0163 37.844 32.4549 38.7585 31.8818C39.7437 31.2674 40.4632 30.696 40.8891 30.3274C41.0674 30.1795 41.2152 30.0367 41.3354 29.9211C41.3831 29.8748 41.4257 29.8336 41.4747 29.7891C41.6217 29.6467 41.697 29.5597 41.697 29.5597L41.9369 29.2835C41.9923 29.22 42.0127 29.1352 41.9923 29.055Z" fill="#F8F9FA"/>
                        </svg>
                </div>
                <div class="o-form o-form--checkbox__group">
                    <!-- YES -->
                    <label class="o-form--checkbox">
                        <input class="o-form--checkbox__input" type="checkbox" value="yes">
                        <span class="o-form--checkbox__label">YES</span>
                    </label>
                    <!-- SOMETIMES -->
                    <label class="o-form--checkbox">
                        <input class="o-form--checkbox__input" type="checkbox" value="sometimes">
                        <span class="o-form--checkbox__label">SOMETIMES</span>
                    </label>
                    <!-- NO -->
                    <label class="o-form--checkbox">
                        <input class="o-form--checkbox__input" type="checkbox" value="no">
                        <span class="o-form--checkbox__label">NO</span>
                    </label>
                </div>
                <!-- PREFER NOT TO SAY -->
                <div class="o-form--toggle-group l-grid--mobile">
                    <label class="o-form--toggle__label">PREFER NOT TO SAY</label>
                    <label class="o-form--toggle">
                        <input class="o-form--toggle__input" type="checkbox" value="prefer not to say">
                        <span class="o-form--toggle__slider"></span>
                    </label>
                </div>
            </section>

            <!-- TOBACCO -->
            <section name="tobacco">
                <div class="o-form__heading">
                    <h2 class="u-heading-2 u-align-center">Do you consume tobacco?</h2>
                    <svg width="60" height="35" viewbox="0 0 60 35" fill="none" xmlns="//www.w3.org/2000/svg">
                        <path d="M51.9285 25.0208H3.13304C1.33321 25.0208 0 27.0832 0 30.0104C0 32.9376 1.33321 35 3.13304 35H51.9285C53.7283 35 55.0615 32.8711 55.0615 30.0104C55.0615 27.1497 53.7949 25.0208 51.9285 25.0208ZM18.1983 32.2724C18.3983 31.6071 18.5316 30.8087 18.5316 29.9439C18.5316 29.079 18.3983 28.2807 18.1983 27.6154H51.8618C52.0618 27.815 52.4617 28.6133 52.4617 29.9439C52.4617 31.2744 52.0618 32.0728 51.8618 32.2724H18.1983ZM5.99944 32.2724C6.19942 31.6071 6.33274 30.8087 6.33274 29.9439C6.33274 29.079 6.19942 28.2807 5.99944 27.6154H15.2652C15.4652 27.815 15.8652 28.6133 15.8652 29.9439C15.8652 31.2744 15.4652 32.0728 15.2652 32.2724H5.99944ZM3.66632 30.0104C3.66632 31.1414 3.39968 31.8732 3.1997 32.2058C2.93306 31.8067 2.66642 31.0749 2.66642 30.0104C2.66642 28.8794 2.93306 28.1476 3.13304 27.815C3.39968 28.1476 3.66632 28.8794 3.66632 30.0104ZM58.8611 2.66742C58.4612 2.73395 55.1281 3.3327 55.1281 7.45743C55.1281 9.12063 55.5948 10.4512 56.4614 11.4491C59.1278 14.5759 59.2611 19.0998 56.7947 22.1601L56.6613 22.2932C56.3947 22.6258 55.9947 22.7589 55.6614 22.7589C55.3948 22.7589 55.0615 22.6923 54.7948 22.4262C54.1949 21.9605 54.1282 21.0957 54.5949 20.5634L54.6615 20.4304C56.328 18.368 56.2614 15.3077 54.3949 13.1123C53.0617 11.5822 52.4617 9.65285 52.4617 7.3909C52.4617 2.1352 56.3947 0.272415 58.5278 0.00630354C59.2611 -0.0602244 59.9277 0.40547 59.9944 1.13728C60.061 1.93561 59.5277 2.60089 58.8611 2.66742Z" fill="#F8F9FA"/>
                        </svg>
                </div>
                <div class="o-form o-form--checkbox__group">
                    <!-- YES -->
                    <label class="o-form--checkbox">
                        <input class="o-form--checkbox__input" type="checkbox" value="yes">
                        <span class="o-form--checkbox__label">YES</span>
                    </label>
                    <!-- SOMETIMES -->
                    <label class="o-form--checkbox">
                        <input class="o-form--checkbox__input" type="checkbox" value="sometimes">
                        <span class="o-form--checkbox__label">SOMETIMES</span>
                    </label>
                    <!-- NO -->
                    <label class="o-form--checkbox">
                        <input class="o-form--checkbox__input" type="checkbox" value="no">
                        <span class="o-form--checkbox__label">NO</span>
                    </label>
                </div>
                <!-- PREFER NOT TO SAY -->
                <div class="o-form--toggle-group l-grid--mobile">
                    <label class="o-form--toggle__label">PREFER NOT TO SAY</label>
                    <label class="o-form--toggle">
                        <input class="o-form--toggle__input" type="checkbox" value="prefer not to say">
                        <span class="o-form--toggle__slider"></span>
                    </label>
                </div>
            </section>
        </form>
        <%- include('../../_components/buttons', {
            url: endpoints.registerBio.url,
            label: 'Next',
            classnames: 'o-button-primary',
            form: '#firestore_form'
        }); %>

<%- include('../../_partials/footer'); %>