<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.registerAlbum.title
}); %>

    <h2 class="l-grid__header u-heading-2 u-align-center">Choose your favorite album</h2>

    <form class="o-search-form" id="searchSpotify">
        <input class="o-search-form--input" type="text" id="search_input" data-searchcategory="album"
            placeholder="Search">
        <button class="o-search-form--button" type="submit" id="search_spotify_button"><i
                class="fas fa-search"></i></button>
    </form>

    <form class="o-search-form" id="firestore_form" type="strings">
        <input class="o-search-form--input" id="result_id" type="text" name="album" hidden>
    </form>

    <div class="o-spotify-select">
        <button class="o-spotify-select--close"></button>
        <div class="o-spotify-select--group l-grid" id="search_results"></div>
    </div>

    <%- include('../../_components/buttons', { 
        url: endpoints.registerPlaylist.url, 
        label: 'Next',
        classnames: 'o-button-primary',
        form: '#firestore_form'
    }); %>

<%- include('../../_partials/footer'); %>