<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.pages.registerAnthem.title
}); %>
    
    <h2 class="l-grid__header u-heading-2 u-align-center">Choose a song that 
        represents you, your Anthem!</h2>
    <h2 class="l-grid__header u-heading-2 u-align-center">This will be displayed on your profile for other music lovers to see. Be Creative!</h2>

    <form class="o-search-form" id="searchSpotify">
        <input class="o-search-form--input" type="text" id="search_input" data-searchcategory="track"
            placeholder="SEARCH">
        <button class="o-search-form--button" type="submit" id="search_spotify_button"><i
            class="fas fa-search"></i></button>
    </form>

    <form class="o-form" id="firestore_form" type="strings" hidden>
        <input class="o-form--input" id="result_id" type="text" name="anthem_id" required>
        <input class="o-form--input" id="result_title" type="text" name="anthem_title" required>
        <input class="o-form--input" id="result_artist" type="text" name="anthem_artist" required>
        <input class="o-form--input" id="result_thumb" type="text" name="anthem_thumb" required>
        <input class="o-form--input" id="result_album" type="text" name="anthem_album" required>
    </form>

    <div class="o-modal" hidden>
        <button class="o-modal--close">Done</button>
        <div class="o-modal--group" id="search_results"></div>
    </div>
    <div class="o-spotify-choice" hidden>
        <button class="o-spotify-choice--edit"></button>
        <div class="o-spotify-choice--area"></div>
    </div>

    <%- include('../../_components/buttons', { 
        url: endpoints.pages.registerPlaylist.url, 
        label: 'Next',
        classnames: 'o-button-submit',
        form: '#firestore_form'
    }); %>

<%- include('../../_partials/footer'); %>