<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.registerBio.title
}); %>

    <h2 class="l-grid__header u-heading-2 u-align-center">Write a short bio about yourself</h2>

    <form class="o-search-form" id="firestore_form">
        <textarea class="o-form--input-textarea" name="bio" id="iography_input" cols="30" rows="10" placeholder="Proin cras consequat nam ullamcorper sociosqu sapien tortor porta interdum elementum..."></textarea>
        <button class="o-button-submit" id="submit_button" type="submit">Add Bio</button>
    </form>

    <%- include('../../_components/buttons', { 
        url: endpoints.registerActivities.url, 
        label: 'Next' ,
        classnames: 'o-button-primary' 
    }); %>

<%- include('../../_partials/footer'); %>