<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.registerBio.title
}); %>

    <h2 class="l-grid__header u-heading-2 u-align-center">Write a short bio about yourself</h2>
    
    <form class="o-search-form o-search-form" id="firestore_form" type="strings">
        <textarea class="o-form--input-textarea" name="bio" id="iography_input" cols="30" rows="10" maxlength="250" placeholder="Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia."></textarea>
    </form>

    <%- include('../../_components/buttons', { 
        url: endpoints.registerImages.url, 
        label: 'Next',
        classnames: 'o-button-primary',
        form: '#firestore_form'
    }); %>

<%- include('../../_partials/footer'); %>