<%- include('../../_partials/header', {pageTitle: pageTitle}); %>
<h1>Connected</h1>
<%- include('../../_components/buttons', {
    url: '/register/profile', 
    label: 'Next'
}); %>
<%- include('../../_partials/footer'); %>
