<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.registerConnected.title
}); %>

<h2 class="u-heading-2 u-align-center">Here's what we found:</h2>

<%- include('../../_components/buttons', {
    url: endpoints.registerProfile.url, 
    label: 'Next',
    classnames: 'o-button-primary'
}); %>

<%- include('../../_partials/footer'); %>
