<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.registerConnected.title
}); %>

<h2 class="l-grid__header u-heading-2 u-align-center">Here's what we found:</h2>

<form class="l-connected">
    <div class="l-connected__heading--group">
        <h2 class="u-heading-2">Your Top Artists</h2>
        <a class="o-edit-button" href="">Edit</a>
    </div>
        <span class="l-connected__sub-group">
            <span class="l-connected__artists--item">
                <img class="l-connected__artists--item-image" src="http://placehold.it/100x70" alt="">
                <p class="l-connected__artists--item-text">Artist Name</p>
            </span>
            <span class="l-connected__artists--item">
                <img class="l-connected__artists--item-image" src="http://placehold.it/100x70" alt="">
                <p class="l-connected__artists--item-text">Artist Name</p>
            </span>
            <span class="l-connected__artists--item">
                <img class="l-connected__artists--item-image" src="http://placehold.it/100x70" alt="">
                <p class="l-connected__artists--item-text">Artist Name</p>
            </span>
        </span>
    <div class="l-connected__heading--group">
        <h2 class="u-heading-2">Your Top Songs</h2>
        <a class="o-edit-button" href="">Edit</a>
    </div>
        <span class="l-connected__sub-group">
            <span class="l-connected__artists--item">
                <img class="l-connected__artists--item-image" src="http://placehold.it/100x70" alt="">
                <p class="l-connected__artists--item-text">Song Name</p>
            </span>
            <span class="l-connected__artists--item">
                <img class="l-connected__artists--item-image" src="http://placehold.it/100x70" alt="">
                <p class="l-connected__artists--item-text">Song Name</p>
            </span>
            <span class="l-connected__artists--item">
                <img class="l-connected__artists--item-image" src="http://placehold.it/100x70" alt="">
                <p class="l-connected__artists--item-text">Song Name</p>
            </span>
        </span>
    <div class="l-connected__heading--group">
        <h2 class="u-heading-2">Your Top Genres</h2>
        <a class="o-edit-button" href="">Edit</a>
    </div>
        <span class="l-connected__sub-group">
            <span class="l-connected__artists--item">
                <img class="l-connected__artists--item-image" src="http://placehold.it/100x70" alt="">
                <p class="l-connected__artists--item-text">Genre Name</p>
            </span>
            <span class="l-connected__artists--item">
                <img class="l-connected__artists--item-image" src="http://placehold.it/100x70" alt="">
                <p class="l-connected__artists--item-text">Genre Name</p>
            </span>
            <span class="l-connected__artists--item">
                <img class="l-connected__artists--item-image" src="http://placehold.it/100x70" alt="">
                <p class="l-connected__artists--item-text">Genre Name</p>
            </span>
        </span>
</form>

<%- include('../../_components/buttons', {
    url: endpoints.registerConnected.url, 
    label: 'Next',
    classnames: 'o-button-primary'
}); %>

<%- include('../../_partials/footer'); %>
