<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.registerLookingFor.title
}); %>
    
    <form class="o-form" id="firestore_form" type="checkMulti">
        <h2 class="l-grid__header u-heading-2 u-align-center">What are you looking for?</h2>
        <section name="looking_for" class="u-flex-row__form"></section>
    </form>

    <%- include('../../_components/buttons', { 
        url: endpoints.registerBio.url, 
        label: 'skip',
        classnames: 'o-button-skip',
        form: '#firestore_form'
    }); %>

<%- include('../../_partials/footer'); %>