<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.registerPlaylist.title
}); %>

    <h2 class="l-grid__header u-heading-2 u-align-center">Choose your favorite playlist</h2>

    <form class="o-search-form" id="searchSpotify">
        <input class="o-search-form--input" type="text" id="search_input" data-searchcategory="playlist"
            placeholder="Search">
        <button class="o-search-form--button" type="submit" id="search_spotify_button"><i
            class="fas fa-search"></i></button>
    </form>

    <form id="firestore_form" type="strings" hidden>
        <input id="result_id" type="text" name="playlist">
    </form>

    <div class="o-spotify-select" hidden>
        <button class="o-spotify-select--close">Done</button>
        <div class="o-spotify-select--group" id="search_results"></div>
    </div>

    <div class="o-spotify-choice" hidden>
        <button onclick="return confirm('Are you sure you want to Delete?');" class="o-spotify-choice--cancel"></button>
        <div class="o-spotify-choice--area"></div>
    </div>

    <%- include('../../_components/buttons', { 
        url: endpoints.registerConnected.url, 
        label: 'Next',
        classnames: 'o-button-primary',
        form: '#firestore_form'
    }); %>

<%- include('../../_partials/footer'); %>