<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.registerPlaylist.title
}); %>

    <h2 class="u-heading-2 u-align-center">Choose your favorite playlist</h2>

    <form class="o-search-form" action="" id="searchSpotify">
        <input class="o-search-form--input" type="text" id="search_input" data-searchcategory="playlist"
            placeholder="Search">
        <button class="o-search-form--button" type="submit" id="search_spotify_button"><i
                class="fas fa-search"></i></button>
    </form>

    <form class="o-search-form" id="firestore_form">
        <input class="o-search-form--input" id="result_id" type="text" name="playlist" hidden>
        <button class="o-button" id="submit_button" type="submit" hidden>Add Playlist</button>
    </form>

    <div class="o-spotify-select">
        <button class="o-spotify-select--close">Done</button>
        <div class="o-spotify-select--group l-grid" id="search_results"></div>
    </div>

    <%- include('../../_components/buttons', { 
        url: endpoints.registerImages.url, 
        label: 'Next' ,
        classnames: 'o-button-primary' 
    }); %>

<%- include('../../_partials/footer'); %>