<%- include('../../_partials/header', {pageTitle: pageTitle}); %>
Profile / Playlist
<form action="">
    <h2>Choose your favorite playlist</h2>
    <input type="text" id="anthem_id_input" placeholder="Search for a song">
    <button type="button" class="green-btn" id="search_anthem_button">Search</button>
    <div id="search_results"></div>
</form>
<%- include('../../_components/buttons', {
    url: endpoints.registerSong.url,
    label: 'Back'
}); %>
<%- include('../../_components/buttons', {
    url: '/register/images', 
    label: 'Next'
}); %>
<%- include('../../_partials/footer'); %>
