<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.registerProfile.title
}); %>

    <form id="firestore_form">
        <h2 class="l-grid__header u-heading-2 u-align-center">Your Name</h2>
        <input class="o-form--input" type="text" name="first_name" placeholder="First Name" required>
        <input class="o-form--input" type="text" name="last_name" placeholder="Last Name" required>
        <h2 class="l-grid__header u-heading-2 u-align-center">Your Birthday</h2>
        <input class="o-form--input" type="date" name="bday" placeholder="Birthday" required>
    </form>

    <%- include('../../_components/buttons', { 
        url: endpoints.registerSong.url, 
        label: 'Next',
        classnames: 'o-button-primary',
        form: '#firestore_form'
    }); %>

<%- include('../../_partials/footer'); %>