<%- include('../../_partials/header', {pageTitle: pageTitle}); %>

<%- include('../../_components/header-navigation', { 
    title: endpoints.pages.registerWhoAreYou.title
}); %>
    
    <form class="o-form" id="firestore_form" type="checkMulti">
        <h2 class="l-grid__header u-heading-2 u-align-center">Which of these do you consider yourself?</h2>
        <section name="who_are_you" data-listType="checkboxes" data-list="who_are_you" class="u-flex-row__form"></section>
    </form>

    <%- include('../../_components/buttons', { 
        url: endpoints.pages.registerBio.url, 
        label: 'skip',
        classnames: 'o-button-skip',
        form: '#firestore_form'
    }); %>

<%- include('../../_partials/footer'); %>