/*------------------------------------*\
    #BASE TYPOGRAPHY STYLES
	***  DO NOT TOUCH  ***

	** Create a new class name
	   for your components to 
	   override these styles **
\*------------------------------------*/
.u-heading-1 {
	font-family: $font-euclid;
	line-height: 1;
	font-size: 28px;
	font-weight: 700;
}
.u-heading-2 {
	font-family: $font-gellix;
	font-size: 24px;
	font-weight: 700;
}
.u-heading-3 {
	font-size: 22px;
	font-weight: 600;
}
.u-heading-4 {
	font-size: 20px;
}
.u-paragraph {
	line-height: 24px;
	font-size: 16px;
}
.u-paragraph-small {
	font-size: 14px;
}
.u-input-text {
	font-family: $font-vcr;
	font-size: 14px;
}
