.u-heading-1 {
	font-family: $font-heading;
	font-weight: 700;
	line-height: 1;
	font-size: 28px;
	@media only screen and (min-width: 600px) {		
		font-size: 30px;
	}
}
.u-heading-2 {
	font-family: $font-primary;
	font-size: 22px;
	@media only screen and (min-width: 600px) {		
		font-size: 24px;
	}
	font-weight: 700;
}
.u-heading-3 {
	font-size: 24px;
	@media only screen and (min-width: 600px) {		
		font-size: 26px;
	}
}
.u-heading-4 {
	font-size: 22px;
	@media only screen and (min-width: 600px) {		
		font-size: 24px;
	}
}

//location on profile top
.u-heading-5 {
	font-family: $font-heading;
	font-size: 20px;
	font-weight: 700;
}

//pronouns on profile top
.u-heading-6 {
	font-family: $font-heading;
	font-size: 14px;
	font-weight: 700;
}

//anthem name on profile top
.u-heading-7 {
	font-family: $font-heading;
	font-size: 16px;
	font-weight: 600;
}

//album and artist on profile top
.u-heading-8 {
	font-family: $font-heading;
	font-size: 16px;
	font-weight: 500;
	color: #ADB5BD;
}

.u-paragraph {
	line-height: 24px;
	font-size: 16px;
}
.u-paragraph-small {
	font-size: 14px;
}
.u-input-text {
	font-family: $font-secondary;
	font-size: 14px;
}
