.l-grid {
	width: 100%;
	max-width: 854px;
	margin: 0 auto;
	background: $color-blues-1;
	color: $color-gray-5;
	&__header {
		padding-top: 40px;
	}
	&--mobile {
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		background: $color-blues-1;
		color: $color-gray-5;
	}
}

.l-login {
	@include blue-purple-gradient($color-bright-blue, $color-purple);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	&--group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 150px;
		&__logo {
			height: 150px;
			width: 150px;
		}
		&__title {
			font-size: 40px;
			margin-top: 50px;
		}
	}
	&__button {
		font-family: $font-tertiary;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 16px;
		color: $color-black;
		padding: 14px 28px;
		background: $color-gray-5;
		border: 2px solid $color-black;
		border-radius: 50px;
		position: fixed;
		bottom: 100px;

		&:hover {
			background: $color-gray-4;
		}

		&:before {
			content: '\f1bc';
			font-family: 'FontAwesome';
			padding-right: 28px;
		}
	}
	&__links {
		font-family: $font-secondary;
		font-size: 12px;
		position: fixed;
		bottom: 50px;
	}
	&__link {
		text-decoration: underline;
		padding-right: 35px;
		transition: all .1s;
		&:last-child {
			padding-right: 0;
		}
		&:hover {
			color: $color-gray-3;
		}
	}
}

.l-connected {
	padding-left: 3%;
	padding-right: 3%;
	&__heading--group {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 44px;
		& .u-heading-2 {
			font-weight: 800;
		}
	}
	&__sub-group {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 24px;
	}
	&__artists--item {
		& p {
			margin-top: 5px;
		}
	}
}