/*------------------------------------*\
    #BROWSE PAGE
\*------------------------------------*/
.c-user-card {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 16px;
	border-radius: 26px;
	overflow: hidden;
	&__body {
		padding: 26px;
	}
	&__figure {
		color: $color-gray-5;
		height: 300px;
		display: flex;
		flex-direction: column;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		cursor: pointer;
		&-name {
			margin-bottom: 10px;
		}
		&-name,
		&-pronouns,
		&-location {
			z-index: 98;
		}
		&-picture {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		&-info {
			position: absolute;
			padding: 26px;
			margin-top: 160px;
		}
	}
	&__body {
		padding: 26px;
		@extend .u-flex-column;
		color: black;
		background: $color-gray-5;
		height: 175px;
		&-title {
			align-self: start;
			margin-bottom: 8px;
			font-weight: 700;
			font-size: 20px;
			&:after {
				content: "\f1bc";
				font-family: "FontAwesome";
				font-size: 30px;
				float: right;
				position: absolute;
				right: 50px;
			}
		}
	}
}

iframe {
	height: 80px;
	width: 80px !important;
	max-width: 30%;
	border-radius: 8px;
	margin-right: 4px;
	transform: scale(1.125);
}

.c-media {
	@extend .u-flex-row;
	width: 100%;
	margin-top: 16px;
	&--controls {
		width: 70%;
		height: 90px;
		overflow-x: hidden;
		overflow-y: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 20px;
		&--top {
			font-size: 16px;
			&--title,
			&--subtitle {
				font-weight: 600;
				white-space: nowrap;
			}
			&--subtitle {
				font-size: 14px;
				margin-top: 5px;
				background: -webkit-linear-gradient(
					45deg,
					$color-gray-3,
					$color-gray-5
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		&--btm {
			width: 100%;
			height: 24px !important;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}
	}
}

.c-user-card .c-user-card__figure {
	background-image: url("http://jamescliff.com/shuffle/default-profile.png");
}

.edit-icon {
	@extend .u-flex-center;
	background-color: $color-pink-2;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	&::before {
		color: white;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f303";
	}
}

.c-profile {
	position: fixed;
	visibility: hidden;
	bottom: 0;
	left: 0;
	width: 100%;
	height: fit-content;
	overflow-x: hidden;
	color: black;
	&--open {
		visibility: visible;
		// top: 0;
		z-index: 996;
		// height: 100%;
		overflow-y: scroll !important;
	}
	&__header {
		@extend .u-box-shadow;
		background: $color-gray-5;
		border-radius: 24px 24px 0 0;
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		transform: translateY(2px);
		&-heading {
			text-transform: uppercase;
			font-weight: bold;
			width: fit-content;
			margin: auto;
		}
		.o-faux {
			width: 50px;
			opacity: 0;
		}
	}
	&__figure {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 320px;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $color-gray-5;
		&-name {
			margin-bottom: 16px;
		}
		&-name,
		&-pronouns,
		&-location {
			z-index: 98;
		}
		&-picture {
			min-width: 100vw;
			height: 480px;
			object-fit: cover;
		}
		&-info {
			position: absolute;
			padding: 26px;
			margin-bottom: 16px;
		}
		* {
			max-height: 320px !important;
		}
	}
	&__body {
		background: $color-blues-1;
		padding: 0 1rem calc(52px + 6vh) 1rem;
		width: 100%;
		overflow-y: scroll;
		height: 82vh;
		max-height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		&-card {
			@extend .u-box-shadow--large;
			@extend .u-flex-column;
			justify-content: space-around;
			align-items: unset;
			width: 100%;
			background: $color-gray-5;
			padding: 26px 26px 28px 26px;
			margin-bottom: 16px;
			border-radius: 26px;
			color: black;
			&-horizontal {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
			&-heading {
				font-weight: 700;
				align-self: flex-start;
				&-anthem {
					&:after {
						content: "\f1bc";
						font-family: "FontAwesome";
						font-size: 30px;
						float: right;
						position: absolute;
						right: 30px;
					}
				}
			}
			& .js-looking_for,
			.js-who_are_you {
				margin-top: 10px;
			}
			&--block-wrap {
				@extend .u-flex-row;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: 16px;
			}
			&--block {
				width: calc(100% / 3);
				margin-right: 16px;
				&:last-of-type {
					margin-right: 0;
				}
				a {
					font-size: 0;
				}
				&--img {
					width: 100%;
					height: 60px;
					overflow: hidden;
					object-fit: cover;
					border-radius: 6px;
				}
				&--title {
					font-size: 14px;
					font-weight: 600;
					margin-top: 8px;
					text-transform: capitalize;
				}
			}
			&-body {
				margin-top: 10px;
			}
			&__edit {
				@extend .edit-icon;
				position: absolute;
				right: -8px;
				top: -8px;
			}
			.full-width {
				width: 100%;
			}
			.divider {
				height: 2px;
				width: 100%;
				background-color: black;
				margin: 1rem 0;
			}
		}
	}
	// Your own profile
	&--self {
		z-index: 995;
		.c-profile {
			&__header {
				display: none;
			}
			&__body {
				background: $color-blues-1;
				height: calc(100vh - 100px);
			}
		}
	}
}

.c-profile .c-profile__figure {
	margin-bottom: 1rem;
	background-image: url("http://jamescliff.com/shuffle/default-profile.png");
}

.c-profile-playlist {
	display: flex;
	margin: 1rem 0;
	align-items: center;
	&__image {
		width: 60px;
		height: 60px;
		margin-right: 1.5rem;
		border-radius: 8px;
	}
	&__title {
		font-family: $font-gellix;
		font-size: 16px;
		font-weight: 600;
	}
	&__author {
		font-family: $font-gellix;
		font-size: 14px;
		font-weight: 500;
		color: $color-gray-3;
	}
	&__songs-list {
		&__item {
			padding: 7px 0;
			border-bottom: 1px solid $color-gray-4;
			display: flex;
			flex-direction: row;
			&__artist {
				font-size: 14px;
				color: $color-gray-3;
				width: 50%;
			}
			&__title {
				width: 60%;
				overflow: hidden;
			}
			&__time {
				font-size: 14px;
				width: 10%;
				color: $color-gray-3;
			}
		}
	}
}
