/*------------------------------------*\
    #HEADER NAVIGATION
\*------------------------------------*/
.c-header-navigation {
    @include blue-gradient($color-bright-blue, $color-darker-blue);
    @extend .u-box-shadow;
    padding: 50px 25px;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 98;
    &__button {
        float: left;
        font-size: 30px;
        color: $color-gray-5;
    }
    &__title {
        font-family: $font-euclid;
        text-transform: uppercase;
        font-weight: 600;
    }
}