/*------------------------------------*\
    #FONTS
\*------------------------------------*/
/* @import must be at top of file, otherwise CSS will not work */


// TODO - Add local project fonts used in UI Designs (below is placeholder)


/*----------------- Gellix -------------------*/
@font-face {
    font-family: 'Gellix';
    font-weight: 100;
    font-style: normal;
	src: url('./../fonts/Gellix/Gellix-Thin.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Gellix';
    font-weight: 100;
    font-style: italic;
	src: url('./../fonts/Gellix/Gellix-ThinItalic.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-ThinItalic.woff') format('woff');
}

@font-face {
    font-family: 'Gellix';
    font-weight: 300;
    font-style: normal;
	src: url('./../fonts/Gellix/Gellix-Light.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-Light.woff') format('woff');
}

@font-face {
    font-family: 'Gellix';
    font-weight: 300;
    font-style: italic;
	src: url('./../fonts/Gellix/Gellix-LightItalic.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-LightItalic.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 400;
	font-style: normal;
	src: url('./../fonts/Gellix/Gellix-Regular.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 400;
	font-style: italic;
	src: url('./../fonts/Gellix/Gellix-RegularItalic.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-RegularItalic.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 500;
	font-style: normal;
	src: url('./../fonts/Gellix/Gellix-Medium.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 500;
	font-style: italic;
	src: url('./../fonts/Gellix/Gellix-MediumItalic.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-MediumItalic.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 600;
	font-style: normal;
	src: url('./../fonts/Gellix/Gellix-SemiBold.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 600;
	font-style: italic;
	src: url('./../fonts/Gellix/Gellix-SemiBoldItalic.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-SemiBoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 700;
	font-style: normal;
	src: url('./../fonts/Gellix/Gellix-Bold.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 700;
	font-style: italic;
	src: url('./../fonts/Gellix/Gellix-BoldItalic.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 800;
	font-style: normal;
	src: url('./../fonts/Gellix/Gellix-ExtraBold.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 800;
	font-style: italic;
	src: url('./../fonts/Gellix/Gellix-ExtraBoldItalic.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-ExtraBoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 900;
	font-style: normal;
	src: url('./../fonts/Gellix/Gellix-Black.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-Black.woff') format('woff');
}

@font-face {
	font-family: 'Gellix';
	font-weight: 900;
	font-style: italic;
	src: url('./../fonts/Gellix/Gellix-BlackItalic.woff2') format('woff2'),
	url('./../fonts/Gellix/Gellix-BlackItalic.woff') format('woff');
}