/*------------------------------------*\
    $SASS VARIABLES
\*------------------------------------*/

/*------------------------------------*\
    # COLORS
\*------------------------------------*/

$color-blues-1: #111238;
$color-blues-2: #21244E;
$color-blues-3: #34365B;
$color-blues-4: #4C4E78;
$color-blues-5: #6D6F94;
$color-blues-6: #A1A3CA;
$color-black: #000000;
$color-gray-1: #212529;
$color-gray-2: #495057;
$color-gray-3: #ADB5BD;
$color-gray-4: #DEE2E6;
$color-gray-5: #F8F9FA;
$color-purple: #7209B7;
$color-indigo: #3A0CA3;
$color-bright-blue: #4361EE;
$color-bright-blue-hover: #3147AE;
$color-darker-blue: #3A0CA3;
$color-pink-1: #F72585;
$color-pink-2: #FD5365;
$color-orange: #FF7854;
$color-purple-light: #B883DA;
$color-indigo-light: #9C85D0;
$color-bright-blue-light: #A0AFF6;
$color-pink-1-light: #FA91C1;
$color-pink-2-light: #FDA8B1;
$color-orange-light: #F8CDB2;
$color-magenta-secondary: #E359B9;
$color-pink-secondary: #FF769E;
$color-salmon-secondary: #FA9C88;
$color-yellow-secondary: #FFD486;
$color-blue-secondary: #60ADFF;
$color-green-secondary: #7FEBB6;


/*------------------------------------*\
    #FONTS
\*------------------------------------*/

$font-primary: 'Gellix';
$font-secondary: 'VCR';
$font-tertiary: 'Roboto';
$font-heading: 'Gellix';
