@mixin blue-purple-gradient($color-purple, $color-bright-blue) {
    background-color: $color-purple;
    background: linear-gradient(180deg, $color-purple 0%, $color-bright-blue 100%);   
}
@mixin blue-gradient($color-bright-blue, $color-darker-blue) {
    background-color: $color-bright-blue;
    background: linear-gradient(180deg, $color-bright-blue 0%, $color-darker-blue 100%);   
}
@mixin pink-gradient($color-pink-1, $color-orange) {
    background-color: $color-pink-1;
    background: linear-gradient(180deg, $color-pink-1 0%, $color-orange 100%);   
}
@mixin pink-purple-gradient($color-pink-1, $color-purple) {
    background-color: $color-pink-1;
    background: linear-gradient(180deg, $color-pink-1 0%, $color-purple 100%);   
}

@mixin ShuffleAnimatedGradient ($color-bright-blue, $color-purple) {
    background: linear-gradient(180deg, $color-bright-blue, $color-purple);
    background-size: 125% 125%;

    animation: ShuffleBackground 5s ease infinite;
    
    @keyframes ShuffleBackground {
		0%{background-position:51% 0%}
		50%{background-position:50% 100%}
		100%{background-position:51% 0%}
	}
}