/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
.o-button {
	// All shared button styles across
	display: inline-block;
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	padding: 12px 24px;
	color: white;
	transition: all 0.3s ease;
	line-height: 1;
	width: max-content;
	cursor: pointer;
	border: none;
}

.o-button-primary {
	@extend .o-button;
	background: blue;
	&:hover {
		background: blue;
	}
	&--small {
		font-size: 14px;
		padding: 8px 12px;
	}
}

.o-button-secondary {
	@extend .o-button;
	background: white;
	color: black;
	box-shadow: inset 0 0 0 1px black;

	&:hover {
		background: black;
		border: none;
		color: white;
	}
	&--small {
		font-size: 14px;
		padding: 8px 12px;
	}
}

.o-button-image-upload {
	@extend .o-button;
	display: block;
	margin: 0 auto;
	background: white;
	color: black;
	box-shadow: inset 0 0 0 1px black;
	padding: 20px;

	&:hover {
		background: black;
		border: none;
		color: white;
	}
}

.o-checkbox {
	display: block;
	margin: 0 auto;
	background: white;
	color: black;
	box-shadow: inset 0 0 0 1px black;
	padding: 20px;

	&:hover {
		background: black;
		border: none;
		color: white;
	}

	&--toggle {
		display: inline-block;
		margin: 0 auto;
		background: white;
		color: black;
		box-shadow: inset 0 0 0 1px black;
		padding: 20px;

		&:hover {
			background: black;
			border: none;
			color: white;
		}
	}
}


