/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
.o-button {
	// All shared button styles across
	display: inline-block;
	font-family: $font-primary;
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 12px 24px;
	color: $color-gray-5;
	transition: all 0.3s ease;
	line-height: 1;
	width: max-content;
	cursor: pointer;
	border: none;
}

.o-button-primary {
	@extend .o-button;
	background: $color-bright-blue;
	&:hover {
		background: $color-bright-blue-hover;
	}
	&--small {
		font-size: 14px;
		padding: 8px 12px;
	}
}

.o-button-secondary {
	@extend .o-button;
	background: $color-gray-5;
	color: $color-black;
	box-shadow: inset 0 0 0 1px $color-black;

	&:hover {
		background: $color-black;
		border: none;
		color: $color-gray-5;
	}
	&--small {
		font-size: 14px;
		padding: 8px 12px;
	}
}

.o-button-image-upload {
	@extend .o-button;
	display: block;
	margin: 0 auto;
	background: $color-gray-5;
	color: $color-black;
	box-shadow: inset 0 0 0 1px $color-black;
	padding: 20px;

	&:hover {
		background: $color-black;
		border: none;
		color: $color-gray-5;
	}
}

.o-checkbox {
	display: block;
	margin: 0 auto;
	background: $color-gray-5;
	color: $color-black;
	box-shadow: inset 0 0 0 1px $color-black;
	padding: 20px;

	&:hover {
		background: $color-black;
		border: none;
		color: $color-gray-5;
	}

	&--toggle {
		display: inline-block;
		margin: 0 auto;
		background: $color-gray-5;
		color: $color-black;
		box-shadow: inset 0 0 0 1px $color-black;
		padding: 20px;

		&:hover {
			background: $color-black;
			border: none;
			color: $color-gray-5;
		}
	}
}


