/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
.o-button {
	// All shared button styles across
	display: block;
	font-size: 16px;
	font-weight: 500;
	border-radius: 50px;
	padding: 16px 80px;
	color: $color-gray-5;
	transition: all 0.3s ease;
	line-height: 1;
	cursor: pointer;
	border: none;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	&-primary {
		@extend .o-button;
		position: fixed;
		bottom: 3%;
		left: 50%;
		background: $color-bright-blue;
		transform: translateX(-50%);
		font-family: $font-gellix;
		font-size: 20px;
		font-weight: 800;
		text-transform: uppercase;
		&:hover {
			background: $color-bright-blue-hover;
		}
	}
	&-secondary {
		@extend .o-button;
		position: fixed;
		bottom: 3%;
		left: 50%;
		background: $color-pink-1;
		transform: translateX(-50%);
		font-family: $font-gellix;
		font-size: 20px;
		font-weight: 800;
		text-transform: uppercase;
		z-index: 1000;
		&:hover {
			background: $color-pink-hover;
		}
	}
	&-upload {
		@extend .o-button;
		display: block;
		background: $color-bright-blue;
		background-size: cover !important;
		background-position: center;
		color: $color-gray-5;
		padding: 20px 24px;
		height: 80px;
		width: 80px;
		border-radius: 12px;
		margin: 0 .5rem;
		&:last-of-type {
			margin-right: 0;
		}
		&:hover {
			background: $color-bright-blue-hover;
			border: none;
		}
		&:before {
			content: "\f067";
			font-family: "FontAwesome";
			font-size: 38px;
		}
		&.file-selected:before {
			color: transparent;
		}
		&__group {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			margin-top: 5vh;
			&__section {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				margin-bottom: 1rem;
				&:first-of-type {
					.o-button-upload {
						width: 120px;
						height: 120px;
					}
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	&-submit {
		@extend .o-button;
		background: $color-pink-1;
		text-transform: uppercase;
		position: fixed;
		bottom: 3%;
		left: 50%;
		transform: translateX(-50%);
		font-family: $font-gellix;
		font-size: 20px;
		font-weight: 800;
		&:hover {
			background: $color-pink-hover;
		}
	}
	&-skip {
		@extend .o-button;
		background: transparent;
		text-transform: capitalize;
		text-decoration: underline;
		position: fixed;
		bottom: 3%;
		left: 50%;
		transform: translateX(-50%);
		font-family: $font-vcr;
		font-size: 20px;
		font-weight: 500;
		&:hover {
			background: $color-bright-blue-hover;
		}
	}
	&-static {
		@extend .o-button;
		background: $color-bright-blue;
		font-family: $font-gellix;
		font-size: 20px;
		font-weight: 800;
		text-transform: uppercase;
		padding: 16px;
		&:hover {
			background: $color-bright-blue-hover;
		}
	}
}

/*------------------------------------*\
    #INPUTS
\*------------------------------------*/
.o-message-input {
	z-index: 996;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0;
	textarea[name="message"],
	button[type="submit"] {
		width: 20%;
		border: none;
		border-radius: 0;
	}
	textarea[name="message"] {
		min-height: 52px;
		width: 80%;
		text-align: left;
		text-align-last: left;
		resize: none;
		&::placeholder {
			color: $color-gray-3;
		}
	}
	button[type="submit"] {
		min-height: 52px;
		background: linear-gradient(90deg, #f72585 0%, #ff7854 100%), #dadada;
		color: $color-gray-5;
	}
}

/*------------------------------------*\
    #FORM COMPONENTS
\*------------------------------------*/
input[type="submit"] {
	@extend .o-button-primary;
}

[hidden] {
	display: none !important;
}

.invalid {
	border: 2px solid red !important;
	&_desc {
		color: red;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 15px;
		&::before {
			content: "*";
			margin-right: 1px;
		}
	}
}

section .invalid:first-of-type {
	margin-top: 0;
}

.o-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	width: 100%;
	padding: 0 16px;
	&--input {
		margin-top: 16px;
		border: none;
		text-align: center;
		border-radius: 50px;
		width: 100%;
		background: $color-gray-5;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		&:focus {
			outline: none;
		}
		&-textarea {
			border-radius: 26px;
			background: $color-gray-5;
			border: 2px solid $color-black;
			resize: none;
			overflow-y: scroll;
			height: 200px;
			padding: 30px;
			text-align: left;
			text-align-last: left;
			line-height: 20px;
			width: 100%;
			&:focus {
				outline: none;
			}
		}
		&-characters {
			text-align: right;
			margin-top: 10px;
			margin-right: 10px;
			color: $color-gray-3;
		}
	}
	&__heading {
		@extend .u-flex-row;
		padding-top: 40px;
		& h2 {
			margin-right: 16px;
		}
	}
	&--checkbox {
		position: relative;
		cursor: pointer;
		margin: 16px 0 16px 3px;
		&:first-child &:last-child {
			margin: 0;
		}
		&__group {
			margin-top: 26px;
			margin-bottom: 16px;
		}
		&__input {
			opacity: 0;
			transform: scale(0);
			position: absolute;
		}
		&__label {
			font-family: $font-gellix;
			font-weight: 500;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 1;
			padding: 10px 20px;
			background: $color-blues-1;
			background-clip: padding-box;
			border: solid 3px transparent;
			border-radius: 50px;
			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 50px;
				position: absolute;
				top: -15px;
				z-index: -1;
				border-radius: inherit;
				box-sizing: border-box;
				@include pink-gradient($color-orange, $color-pink-1);
			}
		}
		&__input:checked + &__label {
			@include pink-gradient($color-orange, $color-pink-1);
			font-weight: 700;
			background-clip: text;
		}
	}
	&--toggle-group {
		display: flex;
		justify-content: flex-end;
	}
	&--toggle {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 22px;
		z-index: 999;
		&__input {
			opacity: 0;
			width: 0;
			height: 0;
		}
		&__slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $color-gray-5;
			transition: 0.4s;
			border-radius: 30px;
			&:before {
				position: absolute;
				content: "";
				height: 16px;
				width: 16px;
				left: 4px;
				bottom: 3px;
				background: $color-bright-blue;
				transition: 0.4s;
				border-radius: 50%;
			}
		}
		.o-form--toggle__input:checked + .o-form--toggle__slider {
			background: $color-bright-blue;
		}
		.o-form--toggle__input:checked + .o-form--toggle__slider:before {
			transform: translateX(17px);
			background: $color-gray-5;
		}
		&__label {
			margin-right: 12px;
			width: max-content;
		}
	}
	.form-section {
		width: 100%;
	}
}

.o-edit-button {
	background: $color-gray-5;
	border-radius: 50px;
	color: $color-black;
	line-height: 1;
	width: max-content;
	padding: 8px 14px;
	transition: all 0.1s;
	font-size: 12px;
	font-weight: 600;
	&::after {
		content: "\f303";
		font-family: "FontAwesome";
		padding-left: 12px;
		@include pink-purple-gradient($color-pink-1, $color-purple);
		background-size: 100%;
		background-repeat: repeat;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}
	&:hover {
		@include pink-purple-gradient($color-pink-1, $color-purple);
		color: $color-gray-5;
		&::after {
			-webkit-text-fill-color: $color-gray-5;
		}
	}
}

/*------------------------------------*\
    #INPUTS
\*------------------------------------*/
.o-search-form {
	padding: 0 25px;
	&--input {
		width: 100%;
		border: none;
		text-align: center;
		text-transform: uppercase;
		border-radius: 50px;
		line-height: 1;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		&:focus {
			outline: none;
		}
	}
	&--button {
		position: absolute;
		color: $color-black;
		left: 45px;
		padding-top: 16px;
		line-height: 1;
		transition: opacity 0.3s ease;
		&:hover,
		&:focus {
			opacity: 0.5;
		}
	}
}

/*------------------------------------*\
    #POP UPS
\*------------------------------------*/
.o-modal {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	border-radius: 16px 16px 0 0;
	background: $color-gray-5;
	color: $color-black;
	padding: 20px 20px 0 20px;
	width: 100%;
	height: 85%;
	&--close {
		@extend .u-flex-center;
		z-index: 99;
		width: fit-content;
		align-self: flex-end;
		padding-top: 8px;
		padding-bottom: 9px;
		padding-left: 8px;
		padding-right: 8px;
		border-radius: 32px;
		font-weight: 600;
		font-size: 14px;
		color: $color-gray-2;
		background: $color-gray-4;
	}
	&--group {
		width: 100%;
		height: 100%;
		background: $color-gray-5;
		overflow-y: auto;
	}
	&--track {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: 70px;
		max-height: 70px;
		border-radius: 16px;
		margin-bottom: 16px;
		&:last-of-type {
			margin-bottom: 20px;
		}
	}
	&--image {
		height: 100%;
		width: auto;
		object-fit: cover;
		margin-right: 16px;
	}
	&--track-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 16px;
		height: 100%;
		width: 68%;
		font-family: $font-gellix;
		font-weight: 500;
		& .track_title {
			font-size: 16px;
			color: black;
		}
		& .track_artist {
			color: $color-gray-2;
			font-size: 14px;
			padding-top: 5px;
		}
	}
	&--selected {
		@extend .u-flex-center;
		justify-self: flex-end;
		align-self: flex-end;
		height: 100%;
		width: 7%;
		& .fa-check {
			color: $color-pink-1;
			font-size: 20px;
		}
	}
}

.o-spotify-choice {
	@extend .u-flex-column;
	margin: 40px auto;
	width: fit-content;
	&--area {
		width: 100%;
		height: 100%;
		@extend .u-flex-column;
	}
	&--image {
		width: 128px !important;
		height: 128px !important;
		margin-bottom: 16px;
	}
	&--track-info {
		text-align: center;
	}
	&--cancel {
		position: absolute;
		background: $color-gray-4;
		color: $color-gray-2;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		@extend .u-flex-center;
		transform: translate(64px, -88px);
		&:before {
			content: "\f00d";
			font-family: "FontAwesome";
			font-size: 18px;
			color: $color-gray-2;
		}
	}
	&--edit {
		@extend .edit-icon;
		position: absolute;
		transform: translate(64px, -88px);
	}
}

.section-checked::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f00c";
	color: $color-pink-1;
	margin-left: 32px;
}