/*------------------------------------*\
    #Browse Chats Page
\*------------------------------------*/
.l-chat-browse {
	@extend .u-flex-column;
	padding: 0 0 76px 0;
	&--user-item {
		@extend .u-flex-row;
		border-bottom: 0.16px solid $color-gray-5;
		padding: 0 16px;
		width: 100%;
		&--img-area {
			@extend .u-flex-center;
			width: 20%;
			&--img {
				width: 64px;
				height: 64px;
				border: 3.2px solid $color-gray-5;
				border-radius: 50%;
				overflow: hidden;
			}
		}
		&--main {
			width: 80%;
			padding: 16px;
			&--top {
				@extend .u-flex-row;
				justify-content: space-between;
				margin-bottom: 8px;
				&--name {
					font-weight: bold;
				}
			}
			&--btm {
				font-size: 14px;
			}
		}
		// Border Colors
		&:nth-of-type(3n + 1) img {
			border: 3.2px solid $color-pink-1;
		}
		&:nth-of-type(3n + 2) img {
			border: 3.2px solid $color-bright-blue;
		}
		&:nth-of-type(3n + 3) img {
			border: 3.2px solid $color-indigo;
		}
	}
}

/*------------------------------------*\
    #Chat View Page
\*------------------------------------*/
.l-chat-view {
	@extend .u-flex-column;
	justify-content: flex-start;
	height: calc(100vh - 76px);
	overflow-y: hidden;
	&--content {
		width: 100%;
		height: calc(100% - 76px);
		padding: 15px 20px 0;
		overflow-y: scroll;
		&--message {
			width: fit-content;
			max-width: 90%;
			margin-bottom: 16px;
			border-radius: 6px;
			padding: 16px;
			font-size: 18px;
			display: flex;
			flex-direction: column;
			time {
				font-size: 13px;
				padding-top: 4px;
				font-style: italic;
			}
		}
		.message-from-me {
			background-color: #db0064;
			border-radius: 6px 6px 0 6px;
			margin-left: auto;
			color: $color-gray-5;
			time {
				margin-left: auto;
			}
		}
		.message-from-them {
			background-color: $color-gray-5;
			border-radius: 6px 6px 6px 0;
			color: black;
			time {
				margin-right: auto;
			}
		}
	}
}

.no-results {
	@extend .u-flex-column;
	padding-top: 15vh;
	max-width: 300px;
	margin: auto;
	text-align: center;
	&--icon {
		width: 96px;
	}
	h2 {
		margin: 32px 0;
	}
}

.continue-button {
	z-index: 999;
}
