.u-align-left {
	text-align: left;
}
.u-align-center {
	text-align: center;
}
.u-align-right {
	text-align: right;
}
.u-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.u-flex-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.u-flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.u-no-scroll {
	overflow: hidden;
}

.u-box-shadow {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	&--large {
		filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
	}
}

.u-flex-row__form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem;
	.o-form {
		width: fit-content;
		margin: 1rem 0;
		padding: 0 1rem;
	}
}