.u-align-left {
	text-align: left;
}
.u-align-center {
	text-align: center;
}
.u-align-right {
	text-align: right;
}
.u-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.u-flex-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.u-flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.no-scroll {
	overflow: hidden;
}
.y-scroll {
	overflow-y: scroll !important;
}
