</body>

<script src="https://kit.fontawesome.com/080c06f1d6.js" crossorigin="anonymous"></script>
<script>
    
    // ServiceWorker Registration
    if('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/dist/js/ServiceWorker.js').then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
                
            }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
    
</script>
<script src="/dist/js/script.js"></script>

</html>