<link rel="stylesheet" href="/dist/css/script.css">
<title><%= pageTitle || 'Home' %> | Shuffle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js" defer></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js" defer></script>
<script src="https://kit.fontawesome.com/080c06f1d6.js" crossorigin="anonymous"></script>