<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<meta name="description" content="This is a PWA called shuffle">
<meta name="keywords" content="pwa" >
<meta name="mobile-web-app-capable" content="yes">
<meta name="author" content="" />
<meta name="copyright" content="" />
<meta name="robots" content="follow"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="shuffle">
<meta property="og:url" content="">
<meta property="og:image:secure_url" itemprop="image" content="">
<meta property="og:image" itemprop="image" content="">
<meta property="og:image:width" content="700" />
<meta property="og:image:height" content="700" />
<meta property="og:image:alt" content="OG image of shuffle" />
<meta property="og:description" content="This is a PWA called shuffle">
<meta property="og:site_name" content="shuffle">
<meta name="fragment" content="!">
<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#F8F9FA">
<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#4361EE">
<link rel="stylesheet" href="/dist/css/script.css">
<title><%= pageTitle || 'Home' %> | Shuffle</title>
<link rel="manifest" href="manifest.json">
