<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head', {pageTitle: pageTitle});  %>
</head>
<body class="l-grid">
<div class="l-portrait-lock">
    <h1 class="l-portrait-lock__heading">Please rotate your device</h1>
    <p class="l-portrait-lock__body">We don't support landscape mode yet. <br>Please rotate back to portrait for the best experice.</p>
</div>