<%- include('../_partials/header', {pageTitle: pageTitle}); %>

    <%- include('../_components/header-navigation', { title: endpoints.browse.title }); %>

        <div id="profile_list"></div>

        <div class="user_view"></div>

        <%- include('../_partials/footer'); %>