<%- include('../_partials/header', {pageTitle: pageTitle}); %>
    <%- include('../_components/header-navigation--home', { title: endpoints.browse.title }); %>

    <div class="js-browse" id="l-profile-list"></div>
    <div class="c-view-user"></div>

    <a class="o-form l-chat-view--input-bar browse-variant" hidden>
        <textarea name="message" maxlength="500" placeholder="Send a message"></textarea>
        <button type="submit">Send</button>
    </a>

    <%- include('../_components/footer-navigation'); %>
<%- include('../_partials/footer'); %>