<%- include('../_partials/header', {pageTitle: pageTitle}); %>

<h1 class="u-heading-1 u-align-center">Welcome to Shuffle!</h1>
<a href="<%= endpoints.login.url %>">Login</a>

<%- include('../_partials/footer'); %>