<%- include('../_partials/header', {pageTitle: pageTitle}); %>

<h1 class="u-heading-1 u-text-align-center">Shuffle</h1>

<a class="" href="<%= endpoints.authorize.url %>">Login with Spotify</a>

<%- include('../_partials/footer'); %>
