<%- include('../_partials/header', {pageTitle: pageTitle}); %>
<h1>Shuffle</h1>
<%- include('../_components/buttons', {
    url: endpoints.authorize.url, 
    label: 'Login with Spotify',
}); %>

<%- include('../_partials/footer'); %>
