<%- include('../_partials/header', {pageTitle: pageTitle}); %>

    <%- include('../_components/header-navigation', { title: endpoints.profile.title }); %>

        <div class="user_view" hidden></div>

        <%- include('../_partials/footer'); %>